<div class="hero has-text-centered">       
    <div class="hero-head title"> 
           <h2><%= @user.name %>'s Routines</h2> 
    </div> 

        <div class="container"> 
            <% @routines.each do |r| %> 
            <ul>
                <li><a class="button is-success is-outlined" href="/routines/<%= r.id %>"><%= r.name %></a></li>
            </ul>
            <br>
            <% end %> 
        </div>
            <br><br>

            <form method="GET" action="routines/new"> 
                <input class="button is-ghost" type="submit" value="Create a new routine">
            </form>
            
</div>