<h2><%= @user.name %>'s Routines</h2> 

<% @routines.each do |r| %> 
<ul>
    <li><a href="/routines/<%= r.id %>"><%= r.name %></a></li>
</ul>
<br>
<% end %> 

<br><br>

<form method="GET" action="routines/new"> 
    <input type="submit" value="Create a new routine">
</form>
<br><br>
<form method="GET" action="/users/<%= @user.id %>">    
        <input type="submit" value="Back to dashboard"> 
</form>