
<div class="hero has-text-centered">      
        <div class="hero-head"> 
            <h1 class="has-text-weight-bold">Create a new routine!</h1> 
        </div>
        <br>
        <p>This is your system. This is how you will achieve your goals!</p>
        <br> 

        <div class="box mx-6 has-text-centered"> 
            <form action="/routines" method="POST"> 
              
            <div class="field"> 
                <label class="label" for="name">Name: </label> 
                  <div class="control">
                    <input class="input" style="width: 33%;" type="text" name="name" id="name">
                  </div> 
            </div>

            <div class="field">
                <label class="label" for="why">Reason behind this routine:</label> 
                  <div class="control"> 
                    <input class="input" style="width: 33%;" type="text" name="why" id="why">
                  </div>
            </div> 

            <div class="field"> 
                <label class="label" for="duration">How long( x days/weeks/months) do you want do this routine?</label>
                  <div class="control"> 
                    <input class="input" style="width: 33%;" type="text" name="duration" id="duration"> 
                  </div> 
            </div>
                
                <input class="button is-success is-outined" type="submit" value="Create Routine">
                
            </form> 
        </div>             
</div>