
<h2>Create a new routine!</h2> 

<p>This is your system. This is how you will achieve your goals!</p>

<form action="/routines" method="POST"> 

    <label for="name">Name: </label> 
        <input type="text" name="name" id="name"><br><br>
    <label for="why">Reason behind this routine:</label> 
        <input type="text" name="why" id="why"><br><br>
    <label for="duration">How long( x days/weeks/months) do you want do this routine?</label>
        <input type="text" name="duration" id="duration"><br><br>

    <input type="submit" value="Create Routine">

</form> 
<br><br>
<form method="GET" action="/users/<%= @user.id %>">    
        <input type="submit" value="Back to dashboard"> 
</form>
