<head> 
<link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<div class="user-home-header">
    <h1>Personal Dashboard<h1>
    <p><%= @user.name %></p> 
<div> 
<div class="nav-bar"> 
    <ul> 
        <li><a href="/goals">Goals</a></li>
        <li><a href="/routines">Routines</a></li>
        <li><a href="/habits">Habits</a></li>
        <li><a href="/guide">Guide</a></li>
    </ul> 
    <br><br>
    <hr>
    <br><br> 

<form method="GET" action="/users/<%= @user.id %>/edit">
    <input type="submit" value="Edit User">
</form>



</div>

