<h1>Sign Up</h1> 

<form action="/users" method="POST"> 
  <p> 
    <label for="name">Name:</label> 
    <input type="text" name="name" id="name">
  </p> 
  <p>
    <label for="email">Email:</label> 
    <input type="text" name="email" id="email"> 
  </p> 

  <p>
    <label for="password">Password:</label> 
    <input type="password" name="password" id="password"> 
  </p> 

  <input type="submit" value="Log In"> 
</form> 

<form method="GET" action="/users/<%= @user.id %>">    
        <input type="submit" value="Back to dashboard"> 
</form>