<h1>Sign Up</h1> 
<div class="content">
    <form action="/users" method="POST"> 
      <p> 
        <label for="name">Name:</label> 
        <input type="text" name="name" id="name">
      </p> 
      <p>
        <label for="email">Email:</label> 
        <input type="text" name="email" id="email"> 
      </p> 

      <p> 
        <label for="password">Password:</label> 
          <input type="password" name="password" id="password"> 
      </p> 


      <input type="submit" value="Sign Up"> 
    </form> 

    <form method="GET" action="/">    
            <input type="submit" value="Home"> 
    </form>
</div>