<h2>New Goal</h2> 

<form method="post" action="/goals"> 
    <label for="name">Name: </label> 
        <input type="text" name="name" id="name"><br><br>
    <label for="deadline">Deadline: </label> 
        <input type="datetime" name="deadline" id="deadline" value="mm/dd/yyyy"><br><br>
    <label for="why">Reason: </label> 
        <input type="text" name="why" id="why"><br><br> 
    <label for="how">How:</label> 
        <input type="text" name="how" id="how"><br><br>

    <input type="submit" value="Create Goal"> 

</form> 


