<div class="hero has-text-centered"> 

    <div class="hero-head">
        <h1 class="title is-1">Guide</h1> 
    </div> 

    <br>

    <div class="box"> 
        <h3 class="title is-3">Home</h3>
            <p>The home page is where you can get a quick overview of how many things you are aiming to do.</p> 
        <br>
        <h3 class="title is-3">Goals</h3> 
            <p>The goals page is where you will see a list of your current goals. From there you can create a new goal, or select a current one to see more information</p>
        <br> 
        <h3 class="title is-3">Editing a goal</h3> 
            <p>To edit a goal, you must first view it. Select edit goal, and you can change anything you want about the selected goal.</p> 
        <br>
        <h3 class="title is-3">Creating a new goal</h3> 
            <p>This is an important part of LifeRoute. This pattern will be repeated for Routines and habits. Writing your core reasoning down, and establishing things like Deadlines, How, When, Where, and Why. Having them writen, by YOU and having them stored in a place where you can look over them will make you much more likely to stay on track!</p>
        <br>
        <h3 class="title is-3">Routines</h3>
            <p>The routines page will show you any current routines, and allow you to create a routine. Creating a routine is just like creatiing a goal. Routines are you, building the path to your goal. They will hold the habits that you want to master, and help you stay on track to crushing your goals.</p>
        <br>
        <h3 class="title is-3">Habits</h3> 
            <p>Habits are the contents or our routines. If one of your goals is "Meditate for a year straight" and you had a routine called "Morning routine", you could add the habit "meditate" with all of the habit specifics. It could be for 5 , 10, or 20 minutes. You will find the same result every time. If you stick to the routine, you reach the goal!</p> 
        <br>
        <h3 class="title is-3">Changing your name</h3> 
            <p>To change your name go to the home page. Select edit user, and you will be able to update your name.</p> 
    </div>

</div> 