<head> 
<link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<div class="container">
  <header><h1>Welcome to LifeRoute</h1></header>
  <div class="col-md-8 col-md-offset-2">

    <div class="content">
      <p>LifeRoute is a tool designed for productivity. Studies show that only a small percentage of people actually set, write down, and follow through on goals.</p> 
      <br> 
      <p>Goals help you keep your focus, as everyone already knows life can be hectic.</p> 
      <br> 
      <p>Here you can set goals, and create the routine(s) filled with habits to keep you continually moving forward</p> 
    </div>

    <div class="sidebar">
        <h3><a href="/login">Log In</a></h3>
        <br>
        <h4>Or</h4> 
        <br> 
        <h3><a href="users/new">Sign Up</a></h3>  
    </div>

  </div>
</div>
