<div class="hero has-background-grey-lighter">
  <div class="title has-text-centered mt-4"> 
    <header><h1>Welcome to LifeRoute</h1></header>
  </div> 
  <div class="section has-text-justified is-size-4"> 
    <div class="box has-background-white-bis has-text-weight-bold">
      <p>LifeRoute is a tool designed for productivity. Studies show that only a small percentage of people actually set, write down, and follow through on goals.</p> 
      <p>Goals help you keep your focus, as everyone already knows life can be hectic.</p> 
      <p>Here you can set goals, and create the routine(s) filled with habits to keep you continually moving forward.</p> 
    
      <div class="content has-text-centered mt-6"> 
          <a class="button mb-4" href="/login">Log In</a> <p>Or</p> <a class="button" href="users/new">Sign Up</a>
      </div>
    
    </div>
  </div>
</div>
